<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sip.kelolaapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">


        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity android:name=".DashboardLandfill"/>
        <activity android:name=".DashboardVendor" />
        <activity android:name=".DashboardUmkm" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".DashboardHospital" />
        <activity android:name=".HospitalFormRequest" />
        <activity android:name=".DashboardOperator" />
        <activity android:name=".DashboardDriver" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>